body {
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 1.0em;
	color: #fff;
	background: #000000;
	margin: 0 0 0 0;
	padding: 0 0 0 0;	
}

a {
	text-decoration: none;
	border:0;
}

#outside-border {
	background: #ffffff;
	border: solid 1px #000000;
	border-radius: 0 0 10px 10px;
	max-width: 1100px;
	margin: 0 auto 20px auto;
	padding:0 0 30px 0;
}
   
#header {
	margin: 20px auto 24px auto;
	height: 60px;
	width: 1000px;
	background: #ffffff;
}

#container {
	margin: 0 auto;
	width: 1000px;	
	background: #ffffff;
	//border: solid 1px #000000;
}
.view-container{ 
         min-height: 500px;
 }

#left {
	position: relative;
	float: left;
	width: 772px;
	height: 520px;
	background: #ffffff;
	border-radius: 10px;
}

#right {
	position: relative;
	left: 800px;
	width: 190px;
	height: 510px;
	background: #ffffff;
	border: solid 2px #000000;
	border-radius: 10px;
	padding: 5px 5px 5px 5px;
}
#choice_panel{
	position: absolute;
	list-style: none outside none;
	width: 190px;
}
p.choice_panel{
	color:black;
}

#choice_panel h1, h2 {
    color: #000000;
    margin: 0;
    font-size: 1em;
    padding: 0;
    width: 100%;
}
#choice_panel h2 {
    font-size: 0.8em;
    margin: 10px 0 0;
}

#choice_panel select {
    margin: 0;
    padding: 0;
}
#choice_panel textarea {
    height: 100px;
    width: 95%;
}
#stream {
    height: 300px;
    list-style: none outside none;
    position: absolute;
    width: 190px;
}


#footer {
	width: 1000px;
	height: 20px;
	//background: #bbfbc3;
	margin: 18px auto 0 auto;
	//border: solid 1px #d91515;
	//border-radius: 5px;
}

#map {
    border-radius: 10px 10px 10px 10px;
    height: 380px;
    left: 0;
    position: absolute;
    top: 0;
    width: 772px;
}

#map_canvas_large {
    width: 772px;
    height: 520px;
    position: absolute;
    top: 0;
    left: 0;
	border-radius: 10px;
}

#mapoverlay {
    width: 772px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 10px 10px 0 0;
	z-index: 500;
	text-align: center;
}

#mapoverlay img {
    margin: 0 auto;
}

#mapoverlay p.home {
	padding: 15px 100px 0 50px;
}

p.bubble {
    color: #000000;
}

#accident_choice{
	opacity: 0.4;
}

#accident_choice:hover{
	opacity: 1.0;
}

#theft_choice{
	opacity: 0.4;
}

#theft_choice:hover{
	opacity: 1.0;
}

#general_choice{
	opacity: 0.4;
}

#general_choice:hover{
	opacity: 1.0;
}
#actionbuttons {
	position:absolute;
	z-index: 499;
}

#actionbuttons ul {
	position: relative;
	top: 380px;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 782px;
	font-size: 0.8em;
	border-radius: 10px;
}

#actionbuttons li {
	display: block;
	float: left;
	width: 190px;
	height: 131px;
	margin: 0;
	padding: 10px 0 0 0;
	background: #000000;
	border: solid 2px #ffffff;
	//border-radius: 0 0 10px 10px;
	text-align: center;
}

#actionbuttons li:first-child {	
	border-right: solid 2px #ffffff;
	border-left:0;
	border-radius: 0 0 0 10px;
}
#actionbuttons li:last-child {
	border-left: solid 2px #ffffff;
	border-radius: 0 0 10px 0;
}

#actionbuttons img {
	display:block;
	margin: 0 auto 5px auto;
}

#actionbuttons a {
	color: #fff;
}

#appwidgets {
	position:absolute;
	top:320px;
}

#appwidgets img {
	position:relative;
	top:80px;
	left:24px;
}

#topnav {
	position:relative;
	top:-36px;
	left:525px;
}

#topnav a:hover{
	color:#000;
	text-decoration: underline;
}

#topnav ul {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	font-size: 0.8em;
	border-radius: 10px;
}

#topnav li {
	display: block;
	float: left;
	color: black;
	padding: 0 16px 0 0;
	font-weight: bold;
}

div .step {
	float:left;
	height:100%;
	width:33%;
	margin:0;
	font-size: 0.8em;
}

div .step:first-child{
	border-right: 2px solid #fff;
}

div .step:last-child{
	border-left: 2px solid #fff;
}

p.text_step {
	display:block;
	width:100%;
	text-align:center;
	padding:0;
}
